@import "bootstrap/scss/bootstrap";

.app-background {
    background-image: linear-gradient(#000000, #8e8e8e);
}

body {
    font-family: 'Arial'
}

button {
    background-color: #ff2254;
    color: #ffffff;
}

.ormeau-pink {
    color: #ff2254;
}